

body {
  background: url(./assets/banner-bg.png);

}

.App{
  padding: 0px 48px;
}

.img-Perfil {
  border-radius: 25% 15% 5% 25%;
}

nav{
  justify-content: space-between !important;
}

span{
  background: -webkit-linear-gradient(183deg, #8E43AD, #299fff, rgb(235, 226, 226));
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

header{
  height: 100%;
}

.boton{
  box-shadow:
  5.7px 4.8px 5.3px rgba(0, 0, 0, 0.047),
  21px 17.8px 17.9px rgba(0, 0, 0, 0.073),
  72px 61px 80px rgba(0, 0, 0, 0.17);
  background-color: deeppink;
  color: white;
  border: 1px solid black;
  min-width: 25%;
  max-width: 100%;
  padding: 12px 6px;
  text-align: center;
  border-radius: 5px;
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
}

.About-Container{
  padding: 45px;
    display: flex;
    height: 70%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.372);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 80px;
}

.ListOfProyects{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 16px;
  width: 100%;
}

.Boton-UP{
  font-size: 50px;
  position: fixed;
  top: 80vh;
  right: 50px;
}

.Section-Skills{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.372);
 }

.Skills-Icons{
  display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.Skills-Title{
  font-size: 60px;
    font-weight: 700;
    text-align: center;
    color: white;
    margin: 16px;
}

.Section-Contact{
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.Contact-Info{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.Contact-Form{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.input-text{
  width: 75%;
  text-align: center;
}

.input-area{
  width: 100%;
  height: 200px;
  text-align: center;
}

.Contact-Button{
  width: 40%;
    padding: 16px;
}

@media (max-width: 768px) {
  .Nav-Div{
    display: none;
  }
  .Container-App{
    scroll-snap-type: none !important;
  }
  .Section-Home{
    flex-direction: column;
      align-items: center;
      justify-content: center;
      width: auto;
      margin: 200px 0px;
  }
  
  .Section-Left{
    justify-content: center;
      width: 100%;
      align-items: center;
      margin-bottom: 0px;
  }

  .Section-Right{
    width: 100% !important;
  }
  
  .Section-Title{
    font-weight: 900;
      font-style: italic;
      color: rgb(250, 250, 250);
      font-size: 1rem;
    }

    
   .img-Perfil{
    height: 400px;
    width: 400px;
    margin: auto;
   }
   .About-Section{
    margin: 30px 0px !important;
    height: 100%;
   }

   .About-Container{
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 10px;
   }

   .Title{
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 16px;
   }

   .About-Left{
    width: 100% !important;
    height: 100% !important ;
   }
   .About-Right{
    width: 100% !important;
    height: 100% !important ;
   }

   p{
    font-size: 16px;
   }

   .project p {
    width: 100% !important;
   }

   .boton{
    width: 100%;
   }
   

  .Skills-Icons{
    display: flex;
    flex-direction: column !important;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .SVG-Icon{
    height: 300px;
    width: 300px;
  }

  .Section-Contact{
  flex-direction: column !important;
  gap: 30px;
  margin-top: 10% !important;
  }

  .Contact-Button{
    width: 80%;
      padding: 16px;
  }

  .Contact-Info{
    gap: 20px;
  }
  .Boton-UP{
    display: none;
  }
}
 

@media (max-width: 390px){

.App{
  padding: 36px;
}

.project h2{
  font-size: 40px;
}
.project p{
  font-size: 25px;
}

.img-Perfil{
  height: 350px;
}
.boton{
  padding: 16px;
}

.Section-Contact{
  height: 100vh;
}

.Contact-Info{
  width: 100%;
}

.Contact-Form{
  width: 100%;
}
}
